.ManageItems {
  width: 50%;
  margin: 50px auto;
  font-size: 18px;
  color: #000;
}
th {
  padding: 6px;
}

.ManageItem .name {
  width: 45%;
}
.ManageItem .price {
  width: 60px;
}
.ManageItem .quantity {
  width: 90px;
  color: black;
}
.ManageItem .supplier {
  width: 100px;
}
.ManageItem .option {
  width: 120px;
}
.ManageItem .button {
  padding: 6px 15px;
}
