.InventoryDetail {
  padding: 0 50px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 4fr 2fr;
  justify-items: center;
  grid-gap: 52px;
}
.inventory-card {
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  background-color: #fff;
}
.inventory-card:hover {
  border: 2px solid #e02c6d;
  border-radius: 8px;
}
.InventoryDetail h5 {
  margin-top: 20px;
}
.InventoryDetail button {
  margin-right: 20px;
  width: 200px;
}
.InventoryDetail form {
  display: inline;
}
.InventoryDetail input {
  width: 200px;
}
img {
  width: 100%;
  border-radius: 6px;
}
p {
  text-align: justify;
}
