.InventroyItem {
  width: 300px;
  margin: 15px;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
}
.InventroyItem:hover {
  border: 2px solid #e02c6d;
  border-radius: 8px;
}
.InventroyItem img {
  margin-bottom: 12px;
  width: 280px;
  height: 190px;
  border-radius: 5px;
  border: 3px solid #ddd;
}
.InventroyItem p {
  text-align: justify;
}
.InventroyItem h5 {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}
.InventroyItem h5 span:last-child {
  background-color: #e02c6d;
  color: #ddd;
  padding: 5px;
  border-radius: 10px;
}
/* .quantity {
  margin-top: -7px;
  color: #e02c6d;
} */
.InventroyItem button {
  border: 0;
}
.InventroyItem .description {
  font-size: 14px;
}
